/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
